.anime-item {
    display: flex;

    margin: 20px 20px;
    color: #F3F2E6;
    width: 350px;
    height: 270px;
    background-color: #4E364B;
    border-radius: 10px;
    cursor: pointer;
  }

.anime-item__img {
    margin: 10px 5px 10px 10px;
    height: 250px;
    border-radius: 5px;
  }

.anime-item__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 140px;

  margin: 10px 10px 10px 5px;
}

.anime-item__title {
  font-family: 'Permanent Marker', cursive;

  margin-bottom: 10px;
  color: #FEE3E8;
  font-size: 22px;
  text-align: center;
};

.anime__info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anime-item__buttons {
  font-family: 'Permanent Marker', cursive;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anime-item__btn {
  margin: 5px;
  padding: 10px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  background-color: #FEE3E8;
  color: #272528;
  border-radius: 5px;
}

.anime-item__img:hover{
  transform: scale(1.6);
  transition: 0.7s;
}

.anime-item__btn:hover{
  opacity: 0.8;
  background-color: #FEC6E0;
}