.container {
    display: flex;
    flex-direction: column;
}

.title-1 {
    font-family: 'Permanent Marker', cursive;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;

    color: #F3F2E6;
}

.catalogue {
    display: flex;
    flex-wrap: wrap;
}
